:root {
  /* Color presets */
  --color-primary: #222831;
  --color-secondary: #393E46;
  --color-accent: #00ADB5;
  --color-light: #EEEEEE;
  
  /* Font sizes */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-medium: 1rem; /* 16px */
  --font-size-large: 1.25rem; /* 20px */
  
  /* Spacing (padding, margins) */
  --space-xs: 0.25rem;
  --space-sm: 0.50rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  
  /* Border radius */
  --border-radius: 0.50rem;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary);
    color: var(--color-light);
}

